# Pastas de build e arquivos gerados (bookdown)
_book/
_bookdown_files/
*_files/

# Pastas de build do Jupyter Book
_build/
.jupyter_cache/

# Intermediários gerados pelo knit/bookdown
*.knit.md
*.utf8.md

# Arquivos de configuração do RStudio
.Rproj.user/

# Ambiente virtual Python
venv/
env/
.venv/

# Arquivos temporários
.Rhistory
.RData
.DS_Store
.Ruserdata

# Outros arquivos ou pastas desnecessárias (opcional)
*.log
*.aux

# Exemplos do Colab
colab_examples/
