/* Custom CSS para Bookdown
 * Mantém apenas customizações específicas sem quebrar o estilo padrão
 */

body,
p {
  text-align: justify;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

/* Classes customizadas para layout do autor e imagens */
.author-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.book-image {
  width: 400px;
  height: 600px;
}

.author-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-underline {
  text-decoration: none;
  display: inline-block;
}

/* Esconde botões da toolbar do bookdown */
a[title="Share"],
a[title="Facebook"],
a[title="PDF"],
a[title="Twitter"],
a[title="Edit"],
a[title="Information about the toolbar"] {
  display: none;
}

/* Capa no Sumário */
.toc-header {
  text-align: center;
  position: relative;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 50%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.text-overlay-title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.text-overlay-author {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
