body,
p {
  text-align: justify;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre,
pre code {
  background-color: #2d2d4d !important;
  color: #f8f8f2 !important;
  border: 1px solid #444;
  overflow-x: auto;
}

pre {
  background-color: #2d2d4d !important;
  padding: 15px !important;
  border-radius: 5px;
  border: 1px solid #444;
  overflow-x: auto;
  margin: 0 !important;
  box-shadow: none !important;
}

pre code {
  background-color: transparent !important;
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Estilo para a barra de rolagem */
pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

pre::-webkit-scrollbar-track {
  background-color: #2d2d2d;
  /* Fundo da barra de rolagem para combinar com o bloco */
  border-radius: 5px;
}

pre::-webkit-scrollbar-thumb {
  background-color: #444;
  /* Cor do polegar da barra de rolagem */
  border-radius: 5px;
  border: 2px solid #2d2d2d;
  /* Bordas para dar contraste */
}

.author-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.book-image {
  width: 400px;
  height: 600px;
}

.author-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-underline {
  text-decoration: none;
  display: inline-block;
}

/* Esconde o botão de compartilhamento */
a[title="Share"] {
  display: none;
}

/* Esconde o botão do Facebook */
a[title="Facebook"] {
  display: none !important;
}

/* Esconde o botão do Facebook */
a[title="PDF"] {
  display: none !important;
}

/* Esconde o botão do Twitter */
a[title="Twitter"] {
  display: none !important;
}

/* Esconde o botão de edição */
a[title="Edit"] {
  display: none !important;
}

/* Esconde o botão de informações */
a[title="Information about the toolbar"] {
  display: none !important;
}

/*Capa no Sumário*/
.toc-header {
  text-align: center;
  position: relative;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 50%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.text-overlay-title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.text-overlay-author {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

/* Personalizando a largura e cor do scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* Largura do scrollbar */
}

/* Cor e arredondamento do "thumb" (a parte rolável) */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Cor do thumb */
  border-radius: 4px;
  /* Borda arredondada */
}

/* Cor do "track" (fundo do scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Fundo claro */
}

/* Hover no thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Cor mais escura ao passar o mouse */
}