body,
p {
  text-align: justify;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.author-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.book-image {
  width: 400px;
  height: 600px;
}

.author-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-underline {
  text-decoration: none;
  display: inline-block;
}