name: Build and Deploy Bookdown

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        
      - name: Install dependencies
        run: |
          Rscript -e 'install.packages(c("remotes", "bookdown"))'
          Rscript -e 'remotes::install_deps(dependencies = TRUE)'
      
      - name: Build book
        run: Rscript -e 'bookdown::render_book("index.Rmd", "bookdown::gitbook")'

      - name: Deploy to Netlify
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        run: |
          npm install netlify-cli -g
          netlify deploy --prod --dir=_book
